<h1>Events List</h1>

<ul>
  {{#each eventList}}
    <li>
      {{!-- <a href="events/{{_id}}"> --}}
        {{this.title}}
        {{this.date}}
        {{this.capacity}}
      {{!-- </a> --}}

    </li>

  {{/each}}
</ul>

<a href="events/new">Create an Event</a>

<h2>NODEMAILER</h2>
<form action="/send-email" method="post">
  <label for="">Email</label>
  <input type="email" name="email" id="">
  <label for="">Subject</label>
  <input type="text" name="subject" id="">
  <label for="">Message</label>
  <textarea type="text" name="message" id=""></textarea>
  <button type="submit">Submit</button>
</form>