{{!-- <section class="bg-picture" > --}}
<main class="container">
  <div class="container col-12 col-md-6 col-lg-4 mt-5">
    <div
      class="card border-secondary shadow mb-5 bg-body rounded p-2"
      style="width: 30rem;"
    >
      <div class="card-body">
        <h2 class="card-title">Organize a new beach-volleyball match!</h2>
      </div>
      <form action="/events/new" method="POST">
          <div>
            <label class="col-12" for="title">Title: </label>
          </div>
          <div>
            <input class="col-12 mb-3" type="text" id="title" name="title" />
          </div>
          <label class="col-2" for="location">Location: </label>
        <select name="location" class="mb-3 col-10">
          
          {{#each locationList}}
            <option value="{{_id}}">{{name}}</option>
          {{/each}}

        </select>

              <div>
                <label class="col-2" for="">Date: </label>
              </div>
              <div>
                <input
              type="datetime-local"
              id="date"
              name="date"
              value=""
              min=""
              max=""
              class="col-6 mb-3"
            />
              </div>
              
        <div>
                <label class="col-2" for="capacity">Capacity: </label>
              </div>

              <div>
                <input class="col-4 mb-3" type="number" id="capacity" name="capacity" min="4" max="10" />
              </div>


        <button class="btn btn-primary col-12" type="submit">Add this event to Meeture calender!</button>
      </form>
    </div>
  </div>
</main>
{{!-- </section> --}}
