<h1>Organize a new beach-volleyball match! </h1>
<form action="/events/new" method="POST">
  <label for="title">Title: </label>
  <input type="text" id="title" name="title" />

  <label for="date">Date: </label>
  <!-- <input type="date" id="date" name="date" />

  <label for="meeting-time">Choose a time for your appointment:</label> -->
  <input type="datetime-local" id="date" name="date" value="" min="" max="" />

  <label for="capacity">Capacity: </label>
  <input type="number" id="capacity" name="capacity" min="4" max="10" />

  <label for="location">Location: </label>

  <select name="location">

    {{#each locationList}}
      <option value="{{_id}}">{{name}}</option>
    {{/each}}

  </select>

  <button type="submit">Add this event to Meeture calender!</button>
</form>