<section class='after-header'>

</section>
<div id="map"></div>
<main class='bg-light container mt-n5 bg-meeture'>
  <h1 class='text-center pt-5 display-6'>
    Welcome to Meeture!</h1>
  <h2 class='lead text-center py-5'>
    There is only a few clicks between you and your dream beach-volleyball match
  </h2>

  <div class='container text-end pb-3 transform'>
    <a href='/signup'><button type='submit' class='btn btn-primary m-2'>Sign Up</button></a>
    <a href='/login'><button type='submit' class='btn btn-primary my-2'>Log In</button></a>
  </div>
</main>