<div class="container">
  <h1>{{appTitle}} 🚀</h1>
  <h2>Welcome to Meeture!</h2>
  <h3>There is only a few clicks between you and your dream beach-volleyball
    match</h3>
  <a href="/signup"><button type="submit" class="btn btn-primary mt-3">Sign Up</button></a>
</div>