<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>{{appTitle}}</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon-app.ico" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/stylesheets/style.css" />
    {{! <style>
      @import
      url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Lato&family=Roboto:wght@300;400&display=swap');
    </style> }}

    <script
      src="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js"
    ></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <script src="https://accounts.google.com/gsi/client" async defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js" integrity="sha512-xIPqqrfvUAc/Cspuj7Bq0UtHNo/5qkdyngx6Vwt+tmbvTLDszzXM0G6c91LXmGrRx8KEPulT+AfOOez+TeVylg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <div id="g_id_onload"
         data-client_id="321162226361-3lt66a88tl8a03dj3cabjakfjdsj47h9.apps.googleusercontent.com"
         data-login_uri="http://localhost:3000/events"></div>

      <div class="g_id_signin"
         data-type="standard"
         data-size="large"
         data-theme="outline"
         data-text="sign_in_with"
         data-shape="rectangular"
         data-logo_alignment="left">
      </div>

  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-meeture shadow p-0 m-0">
        <div class="container">
          <img
            class=""
            src="/images/logo2.png"
            alt="logo meeture"
            height="60"
          />
          <h2
            class="navbar-brand text-white mx-2 fs-1 text-logo"
            href="#"
          >Meeture</h2>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarNav"
          >
            <ul class="navbar-nav">
              <li class="nav-item">
                <a
                  class="nav-link text-white active"
                  aria-current="page"
                  href="/"
                >Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/signup">Sign Up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/login">Log In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/events">Events</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    {{{body}}}

    <script src="/js/script.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <script src="/js/map.js"></script>
  </body>

</html>