<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>{{appTitle}}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"/>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css" rel="stylesheet"/>
    <script src="https://accounts.google.com/gsi/client" async defer></script>

      
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-primary shadow">
        <div class="container">
          <a class="navbar-brand" href="#">Meeture</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a
                  class="nav-link text-white active"
                  aria-current="page"
                  href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/signup">Sign Up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/login">Log In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/events">Events</a>
              </li>
              <li class="nav-item">
                <form id="logout-form" action="/logout" method="POST"></form>
                <a class="nav-link text-white" href="/">Log Out</a>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    {{{body}}}
    <div>

      <div
        id="map"
        class="container mt-5"
        style="width: 60%; height: 50%"
      ></div>
    </div>

    <script src="/js/script.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <script src="/js/map.js"></script>
  </body>

</html>