<main class="container">
  <h1>Sign Up</h1>
  <form action="/signup" method="POST">
    <label for="">Name: </label>
    <input type="text" name="username" />

    <label for="">Email: </label>
    <input type="text" name="email" />

    <label for="">Phone Number</label>
    <input type="number" name="phoneNumber" id="" />

    <label for="">Password: </label>
    <input type="password" name="password" />

    <button type="submit" class="btn btn-primary mx-2">Sign Up</button>

    {{#if message}}
      <h3>{{message}}</h3>
    {{/if}}
  </form>
</main>