@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Lato&family=Righteous&family=Roboto:wght@300;400&display=swap");

/*     font-family: 'Caveat Brush', cursive;

    font-family: 'Lato', sans-serif;

    font-family: 'Righteous', cursive;

    font-family: 'Roboto', sans-serif;*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #00b7ff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Lato", sans-serif;
}

h1 {
  color: 15px;
}

.text-logo {
  font-family: "Righteous", cursive;
}

.btn-primary {
  background-color: rgb(9, 25, 116);
}

.bg-meeture {
  background-color: rgb(9, 25, 116);
}

.border-primary {
  background-color: rgb(9, 25, 116);
}
/* 
header {
  background-image: url("https://images.unsplash.com/photo-1592656094267-764a45160876?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80");
} */

/* header {
  background-image: url("../images/foto1.jpg");
  height: 500px;
  background-size: cover;
  background-position: center;
} */
.after-header {
  margin-top: -30px;
  background-image: url("../images/foto1.jpg");
  height: 470px;
  background-size: cover;
  background-position: center;
}

/* .bg-picture {
  margin-top: -30px;
  background-image: url("../images/foto1.jpg");
  height: 470px;
  background-size: cover;
  background-position: center;
} */

.bg-meeture {
  margin-top: -50px;
}

.transform {
  /* display: flex; */
  transform: translateX(-44%);
}
