@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Lato&family=Righteous&family=Roboto:wght@300;400&display=swap");

/*     font-family: 'Caveat Brush', cursive;

    font-family: 'Lato', sans-serif;

    font-family: 'Righteous', cursive;

    font-family: 'Roboto', sans-serif;*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #00b7ff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Lato", sans-serif;
}

h1 {
  color: 15px;
}

.text-logo {
  font-family: "Righteous", cursive;
}

.btn-primary {
  background-color: rgb(9, 25, 116);
}

.bg-meeture {
  background-color: rgb(9, 25, 116);
}

.border-primary {
  background-color: rgb(9, 25, 116);
}
